.container {
    padding: 4px;
}

.app {
  background-color: #282c34;
  min-height: 100%;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.sentMessageContainer {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 8px;
}

.formContainer {
    border-top: 3px solid #ced4da
}

.md-form {
    margin-top: 1rem !important;
    color: "white" !important;
}

.sentMessage {
    text-align: left;
    padding: 8px;
    font-family: "roboto";
    color: #fff;
    background: linear-gradient(243deg, #2397f5, #498efc 100%);
    border-radius: 8px;
}

.sentMessage p, .receivedMessage p, .senderText {
    margin-bottom: 0;
}

.receivedMessageContainer {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px;
}

.receivedMessage {
    text-align: left;
    padding: 8px;
    font-family: "roboto";
    color: #fff;
    background: linear-gradient(
        193deg,
        rgb(156, 78, 14) 0%,
        rgb(138, 80, 80) 100%
    );
    border-radius: 8px;
}

.senderText {
    font-family: "roboto";
    font-size: 14px;
    color: rgba(214, 214, 214, 0.7);
}

.chatbox {
    background-color: #3a4353;
    min-width: 100%;
    height: 80vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    text-align: center;
  }

  input {
      color: #fff !important
  }

@media only screen and (max-width: 600px) {
    .chatbox {
        height: 60vh
    }
}
  